body {
  text-align: center;
}

.container {
  border: 2px black solid;
  height: 620px;
  width: 300px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  font-size: 20px;
}

.image {
  border-radius: 50%;
  width: 150px;
  height: 160px;
}

h5 {
    color: #0356fc;
}

.look {
  background: none;
  border: none;
  font-size: 35px;
}

.surprise {
  display: block;
  margin-right: auto;
  margin-left: auto;
}